.open {
   /* transform:translate(75vw,0);*/
    left:25vw;
    -webkit-transition: 3000ms ease-in-out;
    -moz-transition: 3000ms ease-in-out;
    -o-transition: 3000ms ease-in-out;
    transition: 3000ms ease-in-out;
    background-color: #E17950;
}

.close {
    left:100vw;    
    -webkit-transition: 3000ms ease-in-out;
    -moz-transition: 3000ms ease-in-out;
    -o-transition: 3000ms ease-in-out;
    transition: 3000ms ease-in-out, height 3000ms ease-in-out;
    background-color: #000000;
}