.open {
    width: 10vw;
    -webkit-transition:width 3000ms ease-in-out;
    -moz-transition:width 3000ms ease-in-out;
    -o-transition:width 3000ms ease-in-out;
    transition:width 3000ms ease-in-out;
}

.close {
    width: 83vw;   
    height:100vh; 
    -webkit-transition:width 3000ms ease-in-out;
    -moz-transition:width 3000ms ease-in-out;
    -o-transition:width 3000ms ease-in-out;
    transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
}