
$color-text: #54646E;
$orange: #E17950;
$link: $orange;
$white: #F8FAFD;
$black: #1E1E1E;
$color-background: #F4F4F4;
$background-white: #F4F4F4;

body{
    background-color:#ffffff;
}

h1 {
    font-size: 4.6em;    
    margin-top: 10vh;
    font-family: 'Vollkorn', serif;
}


h2 {
    font-family: 'Vollkorn', serif;


}

p {
    font-family: 'Vollkorn', serif;
    font-size: 20px;   
}

a {
    color:$link;
    text-decoration: none;   
}

a:link {
    color:$link;
    text-decoration: none;  
}

a:visited {
    color:$link;
    text-decoration: none;
}

a:hover {
    color:$link;
    text-decoration: none;
}

a:active {
    color:$link;
    text-decoration:none;
}

.row {
    background: rgb(87, 163, 105);
    margin-bottom: 1rem;
    }
    .columns {
    background:rgb(243, 157, 222);
    border: 5px solid black;
}

#map{
    position:absolute;
    width:98.9vw;
    height:100vh;
}

.intro{
    width:100vh;
    height:100vh;
}

.open{
    height:100vh;
}
.close{
    width:0vh;
    height:0vh;
}

#content-div{
    position: absolute;
    height: 100vh;
    width: 75vw;
}
/*
.twentytwenty-wrapper{
    width:30vw;
    height: 30vh;
}*/