body{
    background-color: rgb(26, 206, 152)
}

.row {
    background: rgb(87, 163, 105);
    margin-bottom: 1rem;
    }
    .columns {
    background:rgb(243, 157, 222);
    border: 5px solid black;
}

#map{
    width:50vw;
    height:100vh;
    position:absolute;
}

h1{
    margin-top: 10vh;
    font-family: 'Vollkorn', serif;
    
}

#header {
padding-top: 10vh;
}

#intro{
    width:100wh;
    height:100vh;
}
