body{
    background-color: rgb(185, 34, 34)
}

.row {
    background: rgb(87, 163, 105);
    margin-bottom: 1rem;
    }
    .columns {
    background:rgb(243, 157, 222);
    border: 5px solid black;
}

#map{
    width:80vw;
    height:80vh;
}